@model IEnumerable<BlogPost.DTOs.PostViewDto>

<link href="~/css/post-css.css" rel="stylesheet" type="text/css" />

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <tr>
                    <td>
                        <span class="meta-data-text">Author: You</span>
                        <span style="float:right; margin-top: 3px;" class="meta-data-text">Creation Date: @Html.DisplayFor(modelItem => item.CreationDate)   Modified Date:  @Html.DisplayFor(modelItem => item.ModifiedDate) </span>
                        <div class="image-div-container">
                            <img style="max-height: 400px;" src="~/images/@item.ThumbnailImagePath" class="rounded img-fluid darken-image" alt="Responsive image">
                            <div class="image-text-centered">@Html.DisplayFor(modelItem => item.Title)</div>
                        </div>
                        <div class="div-text-break lead mt-5">@Html.Raw(item.Content)</div>
                    </td>
                </tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
